---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Dashboard">
    <div class="grid grid-cols-2 gap-2">

        <h1 class="bg-blue-500 font-bold">Dashboard</h1>
        <h1>Report</h1>
    </div>
</Layout>